body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  margin: 0;
}

.container {
  width: 300px;
  padding: 20px;
  border: 1px solid gray;
  background: white;
  text-align: center;
  box-shadow: 0 0 10px lightgray;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

#users {
  margin-top: 20px;
  background: #eef8ee;
  padding: 10px;
}